<!DOCTYPE html>
<html>
<head>
	<title>Hangman!</title>
	<!--CSS BEGIN-->
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='/css/index.css' rel='stylesheet' type='text/css'>
	<!--CSS END-->
	<!--JS BEGIN-->
	<script type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js'></script>
	<script type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
	<!--JS END-->
</head>

<body>
	<center>
		<h2 style="top:200px;position:relative">404! Page cannot be found.</h2>
	</center>
</body>
</html>